<!--   <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/styles.css" /> -->
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<!--   <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/> -->
  <script src="/static/js/jquery-1.11.0.min.js"> </script>
  <script src="/staticjs/bootstrap.min.js"> </script>
  <script src="/static/js/jquery-1.11.0.min.js"> </script>
  <script src="/static/js/scripts.js"> </script>

<!-- {% extends "base.html" %} -->
<body>


{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/blog">Distraqt
      <a class="navbar-brand" href="#">Weekly Planner
      <a class="navbar-brand" href="#">Blog

       <ul class="navbar-brand pull-right" id="login-area">
    {% if user %}
      {{user.name}} <a class="login-link" href="/logout">logout</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
      </a>
    </ul>
  </div>
    </div>
</nav>
  {% endblock %}

{% block content %}





<!--start timer test-->
<h1 class="modal-title" id='msg' align='center' class='text-center'></h1>
<!--         <h1> <span class="label label-default" id='msg' </span></h1>
        <h1 class="modal-title" id='time' class='text-center'></h1>
        <h1 class="modal-title" id='alert' class='text-center'></h1> -->
<!--         <h2 id="result"></h2> -->
 
<!-- <div class="modal-body"> -->
<div id = "myAlert" class = "page-header">
  <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
    <strong>Nice work - you're done!</strong>
</div>
</div>


<div class="container content">
  <div class="panel panel-default">
    <div class="panel-body col-xs-8">
      <label for='work'>Flow timer (min): </label>
        <input autofocus id='work' type='text' min=0 max=200 value='25' >
  
  <div class="btn-group" role="group" >
      <button id='start' class='btn btn-primary center-block'>Start
        <span class="glyphicon glyphicon-record">
      </button>
      <button id='pause' class='btn btn-primary center-block pause'>Pause
      </button>
      <button id='reset' class='btn btn-primary center-block'>Reset</button>
    </div>
  </div>

</div>
</div>
 <form action="#" class="form-horizontal" method="post">
        <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
       

<!-- 
<form action="#" method = 'post'> -->

      
</div>
<!--END timer TEST-->


<!--start Jumbotron form-->
  <div class="jumbotron">
    <form method="post">
      <label>
      <div><h2>category</h2></div>
        <input type="text" name="category" placeholder="add a category here" value="{{category}}">
      </label>
      <br>

      <label>
        <div><h2>Title</h2></div>
        <input type="text" name="subject" placeholder="what'll you work on?" value="{{subject}}">
      </label>
      <br>

      <label>
        <div><h2>notes</h2></div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input class="btn btn-success" type="submit">
    </form>
 </div>
<!--END Jumbotron form-->

{% endblock %}




