<!--   <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/styles.css" /> -->
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<!--   <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/> -->
  <script src="/static/js/jquery-1.11.0.min.js"> </script>
  <script src="/staticjs/bootstrap.min.js"> </script>
  <script src="/static/js/jquery-1.11.0.min.js"> </script>
  <script src="/static/js/scripts.js"> </script>

<!-- {% extends "base.html" %} -->
<body>


{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/blog">Distraqt
      <a class="navbar-brand" href="#">Weekly Planner
      <a class="navbar-brand" href="#">Blog
</div>
       <ul class="nav navbar-nav navbar-right">
<!--       <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
    
    {% if user %}
      {{user.name}} <a class="login-link" href="/logout">logout</a>
    {% else %}
<!--           <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
      </a>
    </ul>
  </div>
    </div>
</nav>
  {% endblock %}


{% block content %}


{% block newPostBtn %}
{% endblock %}

<!-- {% block loginArea %}
{% endblock %} -->
<!--start timer test-->
<h1 class="modal-title" id='msg' align='center' class='text-center'></h1>

 
<!-- <div class="modal-body"> -->
<div id = "myAlert" class = "page-header">
<!--   <a href = "#" class = "close" data-dismiss = "alert">&times;</a> -->
    <strong>Nice work - you're done!</strong>
</div>
<!-- </div> -->


<div class="container content">
  <div class="panel panel-default">
    <div class="panel-body col-xs-8">
      <label for='work'>Flow timer (min): </label>
        <input autofocus id='work' type='text' min=0 max=200 value='25' >
  
  <div class="btn-group" role="group" >
      <button id='start' class='btn btn-primary center-block'>Start
        <span class="glyphicon glyphicon-record">
      </button>
      <button id='pause' class='btn btn-primary center-block pause'>Pause
      </button>
      <button id='reset' class='btn btn-primary center-block'>Reset</button>
    </div>
  </div>

</div>
</div>
 <form action="#" class="form-horizontal" method="post">
        <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
       

<!-- 
<form action="#" method = 'post'> -->

      
</div>
<!--END timer TEST-->


<!--start Jumbotron form-->
  <div class="jumbotron">
    <form method="post">
      <label>
      <div><h3>Category</h3></div>
        <input type="text" name="category" placeholder="add a category here" value="{{category}}">
      </label>
      <br>

      <label>
        <div><h3>Title</h3></div>
        <input type="text" name="subject" placeholder="what'll you work on?" value="{{subject}}">
      </label>
      <br>

      <label>
        <div><h3>Notes</h3></div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input class="btn btn-success" id="saveEntry" type="submit">
    </form>
 </div>
<!--END Jumbotron form-->

{% endblock %}



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75218719-1', 'auto');
  ga('send', 'pageview');

</script>
